<html>
  <head>
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="css/dashboard.css" />
  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="custom-header mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title">Attendance Register      |      Dashboard</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/signout">Sign out</a>
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Events</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/checkin">Andela Bootcamp Project Defence</a>
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
        <div id='titleHead'>
        	<h1>Check In Attendees</h1>
        </div>


        <!-- Your content goes here -->
        </div>
      </main>
    </div>

    <!-- Material Design Lite JavaScript -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>

  </body>
</html>