<% include ../partials/head%>

<body>
    <div>
        <form>
            <div id='attend'>
                <input
            </di>
        </form>
    </div>
</body>
<% include ../partials/footer%>
